<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search box -->
    <!-- Lo quito ya que no lo necesito, vamos a poner botones para que filtre -->
    <!-- <shared-search-box
      (searchByTerm)="searchByRegion($event)"
      placeholder="Busqueda por región"
    /> -->
    <button
      class="btn m-2"
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]=" { 'btn-outline-danger': selectionRegion === region } "
    >{{region}}</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- table for result -->
    <hr>
    <shared-loading-spinner *ngIf="isLoading"/>
    <countries-table [listCountries]="countries"/>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{country.capital}}
      </li>
    </ul> -->
  </div>
</div>
